
html{
   
}

body{
  height:100vh;
  margin:0
}

main{
  grid-area:main
}

header{
  box-sizing:border-box;
  padding:5px 20px;
  width:100vw;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items:center; 
  height:60px;
  background-color:#1A2633 ;
  grid-area: header;

}

header a{
  text-decoration: none;
  color:aliceblue
  

  
}

header a:hover{
  color:#FF7D2B
}

footer{
  
  
  width:100vw;
  
  display: flex;
  flex-flow:row wrap;
  align-items:center;
  justify-content: space-around;
  
  height:60px;
  background-color:#1A2633 ;
  color:aliceblue;
  grid-area:footer;

}


.grid-container{
  display:grid;
  grid-template-areas:"header"
  "main"
  "footer" ;
  grid-template-rows:5rem 1fr 5rem ;
  grid-template-columns:1fr
}

